@media screen and (min-width: 992px) and (max-width: 1440px) {

    main {
        flex-direction: row;
    }

    .card-content {
        padding: 10px 20px 5px 5px;
    }

    .img-mobile {
        display: none;

    }

    .img-desktop {
        display: block;
    }

    #card {
        width: 325px;
        height: 455px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: unset;
    }

    .product {
        top: 7%;
        left: 10%;
    }

    .price-tag {
        padding-top: .7em;
    }

    p {
        font-size: 14px;
        padding-top: .5em;
    }

}